---
layout: base.njk
title: Resume of Leonardo Andriolli Danieli
keywords: resume, cv, about, personal, profile, portfolio, Leonardo Andriolli Danieli
description: This is the personal website of Leonardo Andriolli Danieli.
---
{# This Content will be rendered inside the `src/_includes/partials/_about.njk` file. #}
<p class="mb-4">Dynamic Senior Full Stack Software Engineer with over 15 years of experience developing scalable applications and enhancing user experiences.</p>
<p class="mb-4">Proficient in Node.js, PHP, React, and AWS,  delivered solutions that reduced investment completion time by 60% at REITIUM. I build secure back-end systems, design intuitive front-ends, and prioritize data security and UX in every project.</p>
<p>Recognized for mentoring developers, promoting engineering best practices, and advocating strong standards within Agile teams. Focused, reliable, and committed to leveraging diverse expertise to drive innovative solutions aligned with business objectives.</p>